<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IGDB" version="6.1.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.5" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.5" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.5" />
  <package id="Microsoft.Extensions.Http" version="9.0.5" />
  <package id="Microsoft.Extensions.Http.Polly" version="9.0.5" />
  <package id="Microsoft.Extensions.Logging" version="9.0.5" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.5" />
  <package id="Microsoft.Extensions.Options" version="9.0.5" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.5" />
  <package id="Polly" version="7.2.4" />
  <package id="Polly.Extensions.Http" version="3.0.0" />
  <package id="RestEase" version="1.5.5" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.5" />
</packages>